<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048068452060-v8brm2ng7pag9gjdoggcb9rvrdaao1hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048068452060-v8brm2ng7pag9gjdoggcb9rvrdaao1hm</string>
	<key>API_KEY</key>
	<string>AIzaSyCWcc8X9gIP4H9I9LVvYEhH0IA1KuziMXg</string>
	<key>GCM_SENDER_ID</key>
	<string>1048068452060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choni.kim.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-c493f</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-c493f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048068452060:ios:a26096a1bc36786bb58e19</string>
</dict>
</plist>