<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39433930029-mllk46bn0v7pjbrtpa4q2n3s6u8d929b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39433930029-mllk46bn0v7pjbrtpa4q2n3s6u8d929b</string>
	<key>API_KEY</key>
	<string>AIzaSyBlSZgfyw4EqBdaBqjoz21tq6RFr8FWu6M</string>
	<key>GCM_SENDER_ID</key>
	<string>39433930029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choni.kim.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcardlist-f9ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcardlist-f9ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39433930029:ios:f83a5965c68452fd363fa4</string>
</dict>
</plist>